################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Workmanager/.vs/Workmanager
/Workmanager/Workmanager/bin/Debug/net9.0
/Workmanager/Workmanager/obj
